@import '../constant.scss';

.otp-size{
    height: 100%;
    width: 100%;
}
.loader-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(0,0,0,0.1);
    border-radius: 35px;
    z-index: 1;
}
.loader-size{
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
    margin: 44% 42%;
    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

.home-page{
    height: $homeHeight;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
}
.home-page-image{
    background-image:url("../../assets/06_BG-home-edit.jpg");
    position: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    // opacity: 0.9;
}
.home-content-outer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex: 1;
    min-height: 530px;
    padding: 50px 45px;
}
.home-content-container{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    max-height: 500px;
    min-height: 450px !important;
    max-width: 440px;
    padding: 40px 45px;
    border-radius: 35px;
    background: rgb(255,255,255,0.8);
    // margin: 20px;
    .home-click-here{
        max-width: 160px;
    }
    .upper-section{
        flex: 1;
        max-height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .middle-section{
        height: fit-content;
    }
    .lower-section{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .home-text-link{
        color: #1a89f0;
    }
    .heading{
        color: #151515;
        font-size: 26px;
        font-family: NunitoSans-ExtraBold;
        // font-weight: 800 !important;
        padding-bottom: 1rem;
    }
    .sub-heading{
        font-size: 15px;
        font-weight: bold;
        padding-bottom: 0.5rem;
    }
    .content{
        font-size: 16px;
        color: #151515;
        // font-weight: bold;
        padding-bottom: 1rem;
    }
    .color-3e3e3e{
        color: #3e3e3e;
    }
    .sub-content{
        font-size: 12px;
        // font-weight: bold;
        padding-bottom: 0.5rem;
        line-height: 18px;
    }
    .little-sub-content{
        font-size: 14px;
        // font-weight: bold;
        padding-bottom: 0.5rem;
    }
    .home-input{
        font-size: 14px;
        height: 45px;
        width: 350px;
        // margin-bottom: 1rem;
        border-radius: 2rem;
        border: none;
    }
    .home-input2{
        height: 45px;
        width: 350px;
        border-radius: 2rem;
        border: none;
    }
    .home-details{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 1rem;
        .home-details-checkout{
            font-weight: bold;
            align-content: center;
            position: relative;
            svg{
                position: relative;
            }
            svg::before{
                content:' ';
                position: absolute;
                background: white;
                z-index: -1;
                top: 11px;
                left: 3px;
                // border-radius: 1rem;
                height: 18px;
                width: 18px;

            }
        }
        .home-details-container{
            border-radius: 1rem;
            width: 400px;
            // height: 140px;
            .home-details-header{
                padding: 0.5rem 1rem;
                background:#e6e6e6;
                display: flex;
                justify-content: space-between;
                .home-details-title{
                    font-weight: bold;
                }
            }
            .home-details-content{
                padding: 0.5rem 1rem;
            }
        }
        .home-details-dropdown ~ div{
            transform: translateX(35%) !important;
        }
    }
    .home-password{
        ul{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            font-size: 10px;
            padding: 0;
            margin: 0;
            li{
                line-height: 14px;
            }
        }
    }
}

.no-background{
    background: none;
}
.center-text{
    text-align: center;
}
.lighter-text{
    color: #6b6b6b;
}


@media (max-width: $big-tablet) {
    .home-page{
        height: fit-content;
        min-height: $homeHeight-mobile;
    }
}

@media (max-width: $small-tablet) {
    .home-content-outer-container{
        padding: 30px 20px;
    }
    .home-content-container{
        .heading{
            font-size: 20px;
        }
        .sub-heading{
            font-size: 13px;
        }
        .content{
            font-size: 14px;
        }
        .color-3e3e3e{
            color: #3e3e3e;
        }
        .sub-content{
            font-size: 10px;
        }
        .little-sub-content{
            font-size: 12px;
        }
    }
}

@media (max-width: $big-mobile) {
    .home-content-container{
        padding: 40px 30px;
        // border-radius: 20px;
        .home-input,
        .home-input2{
            width: 100%;
        }
    }
}

@media (max-width: $average-mobile){
    .home-content-container{
        .home-details{
            .home-details-container{
                width:280px !important;
                position: relative;
            }
            .home-details-dropdown ~ div{
                transform: translateX(18%) !important;
            }
        }
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }