@import "../../constant.scss";

.product-page {
    min-height: $homeHeight;
    height: fit-content;
    display: flex;
    flex-direction: column;
    .carousel-gallery-wrapper {
        position: relative;
        width: 100%;
        padding-top: 56.25%;
    }
    .carousel-gallery {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        // height: 100%;
        .carousel-cell {
            border-radius: 4px;
        }
        .flickity-viewport {
            height: 100% !important;
            border-radius: 1em;
        }
    }

    .carousel-gallery-nav {
        // max-width: 800px;
        height: 120px !important;
        margin-bottom: 20px;
        .carousel-cell {
        }
        .flickity-button {
            // background: transparent;
        }
        .flickity-button:focus {
            // outline: none;
            // box-shadow: 0 0 0 5px #19F;
        }
        .thumbnail-image {
            height: 100px;
            width: 200px;
            margin: 10px;
            opacity: 0.6;
            transition: 300ms;
            border: 1px solid #fff;
            border-radius: 0.5em;
        }
        .thumbnail-image:hover {
            cursor: pointer;
        }
        .thumbnail-image:hover,
        .is-selected {
            opacity: 1;
            z-index: 1;
        }
        .thumbnail-image:first-child,
        .thumbnail-image:last-child {
            margin: 10px 0px;
        }
    }
}
.product-mobile-page-divider {
    min-height: 8px;
    background: #e3e3e3;
    width: 100%;
}
.product-mobile-view-page-wrapper {
    min-height: calc(#{$homeHeight-mobile} - 50px);
    min-height: calc(-webkit-fill-available - 50px);
    // min-height: $homeHeight-mobile;
    // overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .product-main-description {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .product-description-row-1 {
            display: flex;
            justify-content: space-between;
            .product-description-title {
                font-size: 24px;
                color: #173458;
                font-weight: bold;
                letter-spacing: 1px;
                margin-bottom: 1ex;
            }
        }
        .product-description-description {
            font-size: 18px;
            font-weight: 500;
            color: #707070;
            margin-bottom: 1ex;
        }
        .product-description-id {
            font-size: 14px;
            color: #707070;
            margin-bottom: 1ex;
        }
        .product-description-discount {
            font-size: 18px;
            color: #1a89f0;
            margin-bottom: 1ex;
        }
        .product-description-price {
            display: flex;
            justify-content: space-between;
            .product-description-new-price {
                font-weight: bold;
                margin-right: 8px;
                font-size: 26px;
                line-height: 26px;
                font-weight: bold;
                color: #3e3e3e;
            }
            .product-description-old-price {
                font-size: 18px;
                line-height: 18px;
                color: #707070;
                text-decoration: line-through;
            }
        }
    }
}
.floating-nav-bar {
    // padding: 0.5em;
    width: 100%;
    background: #fff;
    border-color: transparent;
    Button {
        border-radius: 0 !important;
    }
}
.floating-nav-bar-fixed {
    position: fixed;
    bottom: 0;
}
.floating-nav-bar-overlay {
    // transition: 300ms;
    .product-mobile-page-divider {
        transition: 200ns ease-in-out;
    }
}
.floating-nav-bar-overlay-visible {
    height: 0px;
    .product-mobile-page-divider {
        height: 0;
    }
}
.floating-nav-bar-overlay-not-visible {
    height: calc(40px + 1em);
    .product-mobile-page-divider {
        height: 20px;
    }
}
.product-container {
    position: relative;
    margin: 20px;
    margin-top: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.product-row-1 {
    height: 60px;
}
.product-row-2 {
    height: fit-content;
    display: flex;
    justify-content: space-between;
    .product-col-1 {
        // min-height: calc(#{$homeHeight} - 80px);
        // max-width: 60%;
        max-width: 60%;
        .product-inner-row {
            width: 100%;
            display: flex;
            justify-content: space-between;
            .product-inner-col {
                width: 45%;
            }
        }
    }
    .product-col-2 {
        height: 100%;
        min-width: 400px;
        width: 30%;
        flex: 1;
        padding-left: 20px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;
        .product-col-section {
            flex: 1;
            display: flex;
            flex-direction: column;
            .product-col-content {
                // border: 1px solid #e3e3e3;
                margin-bottom: 20px;
            }
        }
    }
}
.product-row-3 {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 20px auto;
    .product-col {
        width: 30%;
        min-height: 10px;
    }
}

.product-desktop-view {
    .product-main-description {
        .product-description-title {
            color: #173458;
            font-weight: 600;
            font-size: 24px;
        }
        .product-description-description {
            font-size: 18px;
            margin: 1em 0;
            color: #707070;
        }
        .product-description-id {
            font-size: 14px;
            margin-bottom: 1em;
            color: #707070;
        }
        .product-description-discount {
            font-size: 14px;
        }
        .product-description-price {
            display: flex;
            align-items: flex-end;
            margin: 1em 0px;
            .product-description-new-price {
                font-size: 26px;
                line-height: 26px;
                margin-right: 2em;
            }
            .product-description-old-price {
                font-size: 16px;
                line-height: 16px;
                text-decoration: line-through;
            }
        }
        .product-description-color {
            margin-bottom: 2em;
            p {
                font-size: 18px;
                line-height: 18px;
            }
            .product-description-color-options {
                display: flex;
                margin-top: 1em;
                div {
                    margin-right: 0.5em;
                    border: 1px solid #3e3e3e;
                    border-radius: 50%;
                    height: 2em;
                    width: 2em;
                    transition: 200ms ease-in-out;
                }
                div:hover {
                    border: 2px solid #3e3e3e;
                }
            }
        }
    }
}
.product-mobile-view {
    display: none;
    .profile-mobile-content,
    .product-mobile-view-page-wrapper {
        .marketplace-section {
            padding: 20px;
        }
    }
    .product-mobile-view-page-wrapper {
        .marketplace-section:first-child {
            padding: 0;
        }
    }
    .product-description-color {
        p {
            font-size: 18px;
            line-height: 18px;
            font-weight: bold;
        }
        .product-description-color-options {
            display: flex;
            margin-top: 1em;
            div {
                margin-right: 0.5em;
                border: 1px solid #3e3e3e;
                border-radius: 50%;
                height: 2em;
                width: 2em;
                transition: 200ms ease-in-out;
            }
            div:hover {
                border: 2px solid #3e3e3e;
            }
        }
    }
}
@media (max-width: $small-tablet) {
    .product-page {
        min-height: $homeHeight-mobile;
        .carousel-gallery-wrapper {
            border-bottom: 1px solid #e3e3e3;
            .flickity-page-dots {
                bottom: 12px;
                .dot {
                    background: #fff;
                    opacity: 1;
                    border: 1px solid #e3e3e3;
                    // border-radius: ;
                }
                .is-selected {
                    background: #1a89f0;
                }
            }
        }
        .carousel-gallery {
            .carousel-cell,
            .flickity-viewport {
                border-radius: 0px;
            }
        }
    }
    .product-desktop-view {
        display: none;
    }
    .product-mobile-view {
        display: block;
    }
    .product-container {
        margin: 0;
    }
}
@media (max-width: $big-mobile) {
    .product-page{
        .carousel-gallery-wrapper {
            padding-top: 80%;
        }
    }
}

@media (max-width: $average-mobile) {
    .product-page{
        .carousel-gallery-wrapper {
            padding-top: 100%;
        }
    }
}
