@import '../../constant.scss';

.profile-page{
    min-height: $homeHeight;
    // height: fit-content;
}

.profile-button{
    height: 40px;
    border-radius: 2em;
}

.profile-container{
    padding: 40px;
    padding-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    .profile-left-right-container{
        position: relative;
        display:flex;
        justify-content: space-between;
        .profile-left-container{
            position: -webkit-sticky;
            position: -moz-sticky;
            position: -ms-sticky;
            position: -o-sticky;
            position: sticky;
            top: calc(#{$headerHeight} + 20px);
            height: fit-content;
            margin-right: 20px;
            .profile-setting{
                min-width: 300px;
                padding: 20px;
                align-items: left;
                height: fit-content;
                min-height: unset;
                .profile-setting-user-name{
                    font-size: 18px;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 0.2em;
                }
                .profile-setting-user-id{
                    font-size: 14px;
                    margin-bottom: 1em;
                }
                button{
                    margin: 0.5em 0px;
                    height: 40px;
                    font-size: 16px;
                    width: 100%;
                    background: transparent;
                    color: black;
                    justify-content: flex-start;
                    path{
                        transition: 400ms ease-in-out;
                    }
                }
                button:hover{
                    border: 1px solid #3e3e3e;
                    transition: border none;
                    // color: #1a89f0;
                    // background: rgb(240,240,240);
                    // path{
                    //     fill:#1a89f0;
                    // }
                }
                .profile-button-active{
                    background: rgb(240,240,240);
                    color: #1a89f0;
                    path{
                        fill:#1a89f0;
                    }
                }
            }
        }
        .profile-right-container{
            height: fit-content;
            margin-left: 20px;
            flex: 1;
            .my-profile-container{
                opacity: 0;
            }
            .profile-section{
                padding: 30px 30px;
                margin-bottom: 1em;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: fit-content;
                .profile-section-title{
                    font-size: 18px;
                    font-weight: bold;
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
                .profile-section-add-button,
                .profile-section-edit-button,
                .profile-section-edit-button-active{
                    background: #1a89f0;
                    font-size: 16px;
                    font-weight: 500;
                    height: 2.2rem;
                    color: #fff;
                    border: 1px solid #1a89f0;
                    border-radius: 2em;
                    padding-left: 1em;
                    padding-right: 2em;
                    margin-left: 1em;
                    path{
                        fill: #fff;
                        transition: 400ms ease-in-out;
                    }
                }
                .profile-section-edit-button:hover{
                    background: #fff;
                    color: #1a89f0;
                    border-color: #151515;
                    path{
                        fill: #1a89f0;
                    }
                }
                .profile-section-edit-button-active,
                .profile-section-add-button:hover{
                    background: #fff;
                    color: #1a89f0;
                    border-color: #151515;
                    path{
                        fill: #1a89f0;
                    }
                }
                .equal-padding{
                    padding-left: 1em;
                    padding-right: 1em;
                }
                .profile-section-content{
                    display: flex;
                    flex-direction: column;
                    .profile-section-content-row{
                        display: flex;
                        width: 100%;
                        margin: 2em 0px 0px;
                        .profile-section-content-left{
                            font-size: 16px;
                            min-width: 100px;
                            width: 100%;
                            max-width: 30%;
                            margin: 0px 10px;
                            text-transform: capitalize;
                        }
                        .profile-section-content-right{
                            flex: 1;
                            p{
                                font-size: 16px;
                                font-weight: bold;
                            }
                        }
                    }
                    .profile-section-address{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        margin: 2em 0px 0px;
                        .profile-section-address-left{
                            margin: 0px 10px;
                            flex: 1;
                            .profile-section-address-name{
                                font-size: 16px;
                                color: #151515;
                                font-weight: bold;
                            }
                            .profile-section-address-value{
                                font-size: 16px;
                                // color: #a4a4a4;
                            }
                        }
                        .profile-section-address-right{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            .profile-section-address-icon{
                                cursor: pointer;
                                margin-right: 20px;
                            }
                        }
                    }
                }
                .profileDetails-section{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 1em;
                    .profileDetails-section-content{
                        width: 50%;
                        margin-bottom: 1em;
                        
                    }
                    .profileDetails-section-content:nth-child(2n+1){
                        padding-right: 0.5em;
                    }
                    .profileDetails-section-content:nth-child(2n+0){
                        padding-left: 0.5em;
                    }
                }
                .addressDetails{
                    .addressDetails-addressname{
                        display: flex;
                    }
                    .address{
                        display: flex;
                        flex-wrap: wrap;
                        .addressDetails-section{
                            margin-bottom: 1em;
                            width: 50%;
                            .addressDetails-type{
                                font-weight: 600;
                                letter-spacing: 1px;
                                color: #3e3e3e;
                            }
                            .addressDetails-input{
                                height: 40px;
                                border-radius: 2em;
                            }
                        }
                        .addressDetails-section:nth-child(2n+0){
                            padding-right: 0.5em;
                        }
                        .addressDetails-section:nth-child(2n+1){
                            padding-left: 0.5em;
                        }
                        .addressDetails-section:first-child{
                            padding-left: 0;
                            padding-right: 0;
                            width: 100%;
                        }
                    }
                }
            }
            .profile-section:last-of-type{
                margin: 0px;
            }
        }
        .profile-setting,
        .profile-section{
            // position: -webkit-sticky;
            // position: -moz-sticky;
            // position: -ms-sticky;
            // position: -o-sticky;
            // position: sticky;
            // top: calc(#{$headerHeight} + 60px);
            background: #fff;
            // min-height: 350px;
            border: 1px solid #e1e1e1;
            border-radius: 1em;
        }
    }
}

@media (max-width:$big-tablet){
    .profile-page{
        min-height: $homeHeight-mobile;
    }
    .profile-container{
        padding: 20px;
        .profile-left-right-container{
            .profile-left-container{
                top: calc(#{$headerHeight-mobile} + 20px);
                margin-right: 10px;
                .profile-setting{
                    min-width: max-content;
                }
            }
            .profile-right-container{
                margin-left: 10px;
                .profile-section{
                    padding: 20px 20px;
                }
            }
        }
    }
}
@media (max-width:$small-tablet){
    .profile-container{
        padding: 20px;
        .profile-container-header{
            display: none;
        }
        .profile-left-right-container{
            .profile-left-container{
                display: none;
            }
            .profile-right-container{
                margin-left: 0px;
                .profile-section{
                    .profileDetails-section{
                        .profileDetails-section-content{
                            width: 100%;
                        }
                        .profileDetails-section-content:nth-child(2n+1),
                        .profileDetails-section-content:nth-child(2n+0){
                            padding-left: 0em;
                            padding-right: 0em;
                        }
                    }
                    .addressDetails{
                        .addressDetails-addressname{
                            display: block;
                        }
                        .address{
                            .addressDetails-section{
                                width: 100%;
                            }
                            .addressDetails-section:nth-child(2n+0),
                            .addressDetails-section:nth-child(2n+1){
                                padding-right: 0;
                                padding-left: 0;
                            }
                        }
                    }
                }
                .my-profile-container{
                    opacity: 1;
                }
            }
        }
    }
    .profile-section-content-right-nextline-format{
        display: block;
        p:first-child{
            margin-bottom: 0.5em;
        }
    }
}