$headerHeight:80px;
$headerHeight-mobile: 60px;

$logo-margin:20px;
$logo-margin-mobile:16px;

$headerWidth:100%;

$homeHeight:calc(100vh - #{$headerHeight});
$homeHeight-mobile:calc(100vh - #{$headerHeight-mobile});

$footerIconSize: 2em;


$mobile: 375px;
$average-mobile: 450px;
$big-mobile:550px;
$small-tablet: 660px;
$big-tablet: 900px;
$small-laptop: 1040px;
$big-laptop: 1326px;

$brandColor: #173458;